* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: #3a4663;
}
.theme-1 {
  background-color: #3a4663;
}
.theme-2 {
  background-color: #E6E6E6;
}
.theme-3 {
  background-color: #17062a;
}
.theme-2 .resultTxt {
  background-color: #eeeeee;
  color: #36362c;
}
.theme-2 .calculator-btns {
  background-color: #d2cdcd;
}
.theme-2 .calculator-btns button {
  box-shadow: 0px -4px 0px 0px #A79E91 inset;

}
.theme-2 .calculator {
  background-color: #e6e6e6;
}

.theme-2 .calculator-bg h2 {
  color: #36362C;
}


.theme-3 .resultTxt {
  background-color: #1E0936;
  color: #FFE53D;
}
.theme-3 .calculator-btns {
  background-color: #1E0936;
}
.theme-3 .calculator {
  background-color: #17062A;
  
}

.theme-3 .calculator-btns button {
  color: #FFE53D ;
  background-color: #331C4D;
  box-shadow: 0px -4px 0px 0px #881C9E inset;

}
.theme-3 .calculator-bg h2 {
  color: #FFE53D;
}

.container {
  padding: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calculator-bg {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.calculator-bg h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 29.44px;
  letter-spacing: -0.5333333611488342px;
  color: #fff;
}
.calculator-bg input {
  width: 72px;
  background-color: #242d44;
  border-radius: 13px;
}
.calculator {
  width: 480px;
  background-color: #3a4663;
}
.btn-action {
  color: #fff;
}
.resultTxt {
  background-color: #181f33;
  padding: 10px 20px;
  color: white;
  text-align: right;
  border-radius: 5px;
  margin-bottom: 24px;
  min-height: 48px;
  font-size: 40px;
  font-weight: 700;
  line-height: 36.8px;
  letter-spacing: -0.6666666865348816px;
}

.calculator-btns {
  background-color: #242d44;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calculator-btns button {
  background-color: #eae3dc;
  border: 0;
  border-bottom: 2px solid lightpink;
  border-radius: 5px;
  font-weight: bold;
  font-size: 22px;
  padding-block: 10px;
  box-shadow: 0px -4px 0px 0px #B3A497 inset;

}

.calculator-btns .btn-action {
  background-color: lightslategray;
  border-bottom-color: lightsteelblue;
}

.calculator-btns .btn-calculate {
  background-color: lightgreen;
  border-bottom-color: lightskyblue;
  grid-column: span 2;
}

.btn-reset {
  grid-column: span 2;
}

.lightBtn body {
  background-color: black;
}

@media (max-width: 768px) {
  .container {
    padding: 24px;
    display: block;
  }

  .calculator-bg h2 {
    font-size: 24px;
  }

  .calculator-bg input {
    width: 48px;
  }

  .calculator {
    width: 100%;
    max-width: 360px;
  }

  .resultTxt {
    font-size: 20px;
    padding: 8px 16px;
  }

  .calculator-btns {
    padding: 24px;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }
  .calculator-btns button {
    font-size: 18px;
    padding-block: 8px;
  }

  .calculator-btns .btn-calculate,
  .btn-reset {
    grid-column: span 2;
  }
}
